<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS setuo</title>
    <!-- <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 20px;
            background-color: #911616;
        }
    </style> -->
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Welcome to EJS Template Engine <%= name%> </h1>
    <ul>
        <li>
            <%=products[0].name %> - $<%=products[0].price %>
        </li>
    </ul>
</body>
</html>